extend layout.pug

block content
    div.container
        div.panel_default
            div.panel_heading= product.name
            div.panel_body= product.description
            h4 Ocena:
            if product.users == 0
                div.panel_body 0
            else
                div.panel_body= product.marks/product.users
            a(href='/comment/'+product.id) Dodaj komentarz
            a(href='/mark/'+product.id) Dodaj ocenę
            h3 Komentarze
    div.container
        div.panel_default
            if comments.length == 0
                div.panel-body Brak komentarzy
            else
                each comment in comments
                    div.panel_heading= comment.user + comment.time
                    div.panel-body= comment.comment
    a(href='/user') Powrót do strony głównej


